<!DOCTYPE html>
<html>
  <head>
    <title>Onelinktrta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= yield %>
    <% @links.reverse.each do |link| %>
      <a target="_blank" href=<%= link.url %>> <%= link.postDate %></a>&nbsp <span style="font-size:10px;"><%= link.description %></span>
        
        <%# comment out %>
        <% if false%>
          <span>
          <% link.tags.each do |tag| %>
            <%=tag.tagName %>
          <% end %>
          </span>          
        <% end %>
      <br>
    <% end %>

  </body>
</html>

<%# https://www.youtube.com/watch?v=-kpPLOt1eT8 %>
<%# https://www.youtube.com/watch?v=27Dx6ztJ8jw %>
<%# https://worksinprogress.co/ %>
<%# https://docs.google.com/presentation/d/1kSuQyW5DTnkVaZEjGYCkfOxvzCqGEFzWBy4e9Uedd9k/preview?imm_mid=0f9b7e&cmp=em-data-na-na-newsltr_20171213&slide=id.g183f28bdc3_0_90 %>
<%# https://www.youtube.com/watch?v=s92Q9AuL2Eo %>