<!DOCTYPE html>
<html>
  <head>
    <title>Onelinktrta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# send in the info from specific article page %>
    <h1>10/2/21</h1>
    <h2>Badass lego mimicry.</h2> 
    <iframe id="reddit-embed" src="https://www.redditmedia.com/r/blender/comments/kt300l/lego_spiderman_vs_doc_ock_animation/?ref_source=embed&amp;ref=share&amp;embed=true" scrolling="no" style="border: none;" sandbox="allow-scripts allow-same-origin allow-popups" height="407" width="640"></iframe>
    <%= yield %>
    
  </body>
</html>

<%# https://www.youtube.com/watch?v=-kpPLOt1eT8 %>
<%# https://www.youtube.com/watch?v=27Dx6ztJ8jw %>
<%# https://worksinprogress.co/ %>
<%# https://docs.google.com/presentation/d/1kSuQyW5DTnkVaZEjGYCkfOxvzCqGEFzWBy4e9Uedd9k/preview?imm_mid=0f9b7e&cmp=em-data-na-na-newsltr_20171213&slide=id.g183f28bdc3_0_90 %>
<%# https://www.youtube.com/watch?v=s92Q9AuL2Eo  %>