<!DOCTYPE html>
<html>
  <head>
    <title>Onelinktrta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <h2>onelinktrt<span style="color:red;">a</span></h2>
    <span>what's good about the internet, every day</span><br><br>
    
    <%# send in the info from specific article page %>
    <%= yield %>
    
  </body>
</html>

<%# https://www.youtube.com/watch?v=-kpPLOt1eT8 %>
<%# https://www.youtube.com/watch?v=27Dx6ztJ8jw %>
<%# https://worksinprogress.co/ %>
<%# https://docs.google.com/presentation/d/1kSuQyW5DTnkVaZEjGYCkfOxvzCqGEFzWBy4e9Uedd9k/preview?imm_mid=0f9b7e&cmp=em-data-na-na-newsltr_20171213&slide=id.g183f28bdc3_0_90 %>
<%# https://www.youtube.com/watch?v=s92Q9AuL2Eo %>