<!DOCTYPE html>
<html>
  <head>
    <title>Onelinktrta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= yield %>
    <p>Hi Elena. I did not go to bed until I could send you this link.</p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">june 16 2021</a>
  </body>
</html>
