<!DOCTYPE html>
<html>
  <head>
    <title>Onelinktrta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= yield %>
    <a target="_blank" href="https://www.youtube.com/watch?v=UGUu7qhGh_k">june 22 2021</a><br>
    <a target="_blank" href="https://www.lightnote.co/">june 21 2021</a><br>
    <a target="_blank" href="https://jgthms.com/web-design-in-4-minutes/">june 20 2021</a><br>
    <a target="_blank" href="https://patrickcollison.com/fast">june 19 2021</a><br>
    <a target="_blank" href="https://vimeo.com/58659769">june 18 2021</a><br>
    <a target="_blank" href="https://youtu.be/dNJdJIwCF_Y">june 17 2021</a><br>
    <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">june 16 2021</a><br>
  </body>
</html>

<%# https://www.youtube.com/watch?v=Py805hYfopw %>
<%# https://www.youtube.com/watch?v=-kpPLOt1eT8 %>
<%# https://www.youtube.com/watch?v=27Dx6ztJ8jw %>
<%# https://www.susanrigetti.com/physics %> 
<%# https://worksinprogress.co/ %>
<%# https://docs.google.com/presentation/d/1kSuQyW5DTnkVaZEjGYCkfOxvzCqGEFzWBy4e9Uedd9k/preview?imm_mid=0f9b7e&cmp=em-data-na-na-newsltr_20171213&slide=id.g183f28bdc3_0_90 %>
<%# https://www.youtube.com/watch?v=s92Q9AuL2Eo %>